.user-stats
  .col-md-12
    %h1{class: "message"} The show sale begins in 75 days
  .col-md-6
    .col-md-12.priority-access
      %h3 Want priority access?
      %p Argentina is a megadiverse country hosting one of the greatest ecosystem varieties in the world: 15 continental zones, 3 oceanic zones, and the Antarctic region are all represented in its territory.

    .col-md-8
      %input{type: "text", value: refer_user_url(code: current_user.tracking_code), class: "form-control tracking-url"}
    .col-md-4.social-share
      %span share
      %a{href: "#", class: "share-in-fb"}
        %i{class: "fa fa-facebook"}
      %a{href: "#", class: "share-in-twitter"}
        %i{class: "fa fa-twitter"}

    .col-md-12.invite-via-mail
      %input{type: "text", class: "form-control email-csv", placeholder: "Enter your friend's email seperated with comma"}
      %input{type: "submit", class: "btn btn-default btn-lg", value: "Submit"}

  .col-md-6
    %h3 You have earned Rs. 500 as credit  
    .progress
      .progress-bar.progress-bar-info{role: "progressbar", "aria-valuenow" => "20", "aria-valuemin" => "0", "aria-valuemax" => "100", style: "width: #{(((current_user.referrers.count * 100)/50) + 20)}%"}
        %span{class: "sr-only"} 20% Complete
    .bar-levels
      .col-md-4
        %i{class: "fa fa-caret-up"}
        .msg PRIORITY
      .col-md-4
        %i{class: "fa fa-caret-up"}
        .msg VIP
      .col-md-4
        %i{class: "fa fa-caret-up"}
        .msg PREMIUM
      .clearfix
    .access-level
      %h4 Access level
      %p Major wind currents include the cool Pampero Winds blowing on the flat plains of Patagonia and the Pampas. This invertor is a high effecieny inverter which actually protects your machine as it gives an audible signal in times of short cirtuiting and power overload
      %p It is most common in late autumn and winter along the central coast and in the Río de la Plata estuary. And the Antarctic region are all represented in its territory.