@media (max-width: 768px) {
	div.welcome-form {
		margin-top: 30px;
		.welcome-message-block {
			height: 180px;
			h1 {
				font-size: 23px;
				padding-top: 10px;
				color: #1F978D;
			}
			.message {
				margin-top: 10px;
				color: #F0F0F0;
				font-size: 13px;
			}
			.membership {
				margin-top: 10px;
			}
		}
		.form-title {
			margin: 0;
			padding-top: 15px;
			padding-bottom: 10px;
			font-size: 16px;
		}
		.email {
			margin-bottom: 10px;
			height: 30px;
		}
		.btn.btn-default.btn-block.btn-lg.submit {
			height: 30px;
			line-height: 0;
			background-color: #22C4B5;
			color: white;
		}
		.social-logins .fb {
			.content {
				padding: 0;
			}
		}
	}	
}