@media (max-width: 768px) {
	.nav.navbar-nav.pull-right {
		margin: 5px;
	}
	.home_form_wrap {
		margin: 30px auto !important;
	}
	div.welcome-form {
		margin: 30px 0;
		
		.welcome-message-block {
			h1 {
				font-size: 23px;
				padding-top: 10px;
				color: #1F978D;
			}
			.message {
				margin-top: 10px;
				color: #F0F0F0;
				font-size: 13px;
			}
			.membership {
				margin-top: 10px;
			}
		}
		.form-title {
			margin: 0;
			padding-top: 15px;
			padding-bottom: 10px;
			font-size: 16px;
		}
		.email {
			margin-bottom: 10px;
			height: 40px;
		}
		.btn.btn-default.btn-block.btn-lg.submit {
			height: 40px;
			line-height: 0;
			background-color: #22C4B5;
			color: white;
		}
		.social-logins {
			.fb {
				.content {
					margin-top: 20px;
					padding: 5px;
				}
			}
			.twitter {
				.content {
					margin-top: 20px;
					padding: 5px;
				}
			}
			.fa {
				margin-right: 12px;
				height: 40px;
				float: left;
				padding: 7px 0 0 3px;
			}
			.sl span {
				top: -1px;
			}
			span {
				padding-left: 35px !important;
			}
		}
		.subscribe-form {
			height: 230px;
		}
	}
	ul.footer-nav {
		text-align: center;
		li {
			float: none;
			display: inline-block;
			&:last-child {
	      a {
	        border-right: inherit;  
	      }
	    }
	  }
	}
	.footer-row {
		background-color: #2D2D2D;
	}
}


@media (max-width: 990px) { 
.row {padding:25px;}
.home_form {padding-right:0px !important;}
.home_button {padding-left:0px !important;}
.social-logins a {width:48%;}
.social-logins a .content {margin-top: 20px;
padding: 7px;
width: 100% !important;
height: 50px;}

.welcome-form .social-logins .twitter .content span, .welcome-form .social-logins .fb .content span {top:-4px;}

.tracking-url {width: 60%;
float: left;}
.user-stats .social-share .share-in-fb {margin-right: 2px;
margin-left: 2px;}
h1 {font-size:25px;}

.user-stats .social-share {width:115px;}
.bar-levels .col-md-4 {float:left; padding-right: 12%;}

.welcome-form .welcome-message-block { min-height: inherit !important;}
.welcome-form .subscribe-form {min-height:280px;}

.right_section {border-left:0px;}

}


@media (max-width: 450px) { 
.welcome-form .social-logins .twitter .content span, .welcome-form .social-logins .fb .content span {top: 3px !important;
padding-left: 50px;
display: block;}

.welcome-form .welcome-message-block {height:200px;}

}

@media (max-width: 770px) {
.welcome-form .social-logins .twitter .content span, .welcome-form .social-logins .fb .content span {top:10px;}

}
 
